
/* google font cdn */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.primary-color{
    color: #FA804C;
}
.secondary-color{
    color:  #3D4FF3;
}
.third-color{
    color:  #363958;
}

.nav-font{
    color:  #3C3C3C;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

header{
    background-color: #FFF9F4;;
}

.main-button{
    background-color: #3D4FF3;

}

.main-button a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block; 
}



.header-content h1{
    color: #646464;
}

.header-content h1:nth-child(2){
    color: #3D4FF3;
}

.card-image{
    background-color: #F1F1F1;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 15px;
}
.transparent{
    border: 1px solid transparent;
    border-radius: 25px;
}

footer{
    background-color: #FA804C;
}
footer a{
    text-decoration: none;
}

footer .gift-cards,.get-help,.about-us{
    color:#363958 ;
    font-size: medium;
    font-family: 'Bebas Neue', cursive;
}

footer .gift-cards a,.get-help a,.about-us a{
    color:#363958 ;
    text-decoration: none;
}

.social-icons{
    font-size: 50px;
}

.social-icons a i{
    color:#363958 ;
}